<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Currency Converter</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 style="text-align: center">Currency Converter</h1>
  <form [formGroup]="form">
    <div style="display: flex; justify-content: center; align-items: flex-end">
      <ion-item style="display: flex; align-items: flex-end;">

        <ion-list style="width: 150px;">
          <h4>Source</h4>
          <ion-select formControlName="source">
            <ion-select-option
              *ngFor="let index of indexes"
              [value]="index.iso">
              {{ index.iso }}
            </ion-select-option>
          </ion-select>
        </ion-list>

        <ion-list style="width: 150px;">
          <h4>Target</h4>
          <ion-select formControlName="target">
            <ion-select-option
              *ngFor="let index of indexes"
              [value]="index.iso">
              {{ index.iso }}
            </ion-select-option>
          </ion-select>
        </ion-list>

        <ion-list style="width: 150px;">
          <h4>Value</h4>
          <ion-input type="number" formControlName="value"></ion-input>
        </ion-list>

        <ion-button style="width: 80px; height: 40px;" [disabled]="form.invalid" (click)="convert()">Convert
        </ion-button>

      </ion-item>
    </div>
  </form>
  <h2 style="text-align: center" *ngIf="result">
    {{ Number(value.value) }} {{ source }} is {{ Number(result) }} {{ target }}
  </h2>
</ion-content>
